@keyframes grow {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    visibility: visible;
  }
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(5rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
      visibility: visible;  
  }
}

@keyframes moveInTop{
  0% {
      opacity: 0;
      transform: translateY(-5rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes moveInLeft{
  0% {
      opacity: 0;
      transform: translateX(-5rem);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;      
  }
}

@keyframes moveInRight{
  0% {
      opacity: 0;
      transform: translateX(5rem);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
  }
}

@keyframes opacity{
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


@keyframes clipping {
  0% {
    clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0px 100%);
  }

100% {
    clip-path: polygon(0px 0px, 60% 0%, 40% 100%, 0px 100%);    
  }
}