//Fonts
$default-text-font: 'Rajdhani', sans-serif;
//Colors
$secondary-color: #222f3e;
$header-color: #242121;
$resume-content-color: #E0DEDF;

//Heights
$header-height: 3rem;

//Padding
$sections-padding: 5rem;