.button {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: 1px;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    font-family: $default-text-font;
    color: black;
  }

  &:hover {
    transform: translateY(0px);
    box-shadow: 0 .5rem .8rem rgba(black,.1);
    // box-shadow: 0 1rem 2rem rgba(black,.2);
    border-radius: 3px;
    
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &__link, &__link:hover  {
    text-decoration: none;
    color: white;    
  }

  &:active, &:focus {
    transform: translateY(-1px);
    box-shadow: 0 .5rem .5rem rgba(black,.1);
    outline: none;
  }

  &--primary {
    animation: moveInBottom 1s ease-out;
    color: black;
    background-color: #DBD6D7;
    &::after {
      background-color:  $secondary-color;
    }

    a, a:hover {
        text-decoration: none;
        color: black;
    }
  }

  // &--gold {
  //   background-color: #C49B66;
  //   color: white;
  //   text-transform: none;
  //   padding: .5rem 1rem;
  //   font-size: 1.4rem;
    
  //   &::after {
  //     background-color:  #C49B66;
  //   }
    
  //   a {
  //     text-decoration: none;
  //     color: white;
  //   }
  // }
}

.btn-text{
  &:link,
  &:visited{
    text-decoration: none;
    background-color: white;
    display: inline-block;
    color: #C49B66;
    border-bottom: 1px solid #C49B66;
    padding: 3px;
    transition: all .3s;
  }

  &:hover{
    background-color: #C49B66;
    color: white;
    box-shadow: 0 1rem 2rem rgba(black,.2);
    // transform: translateY(-3px);
    
    &::after {
      // transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba(black,.2);
    // transform: translateY(0px);    
  }

  i {
    font-size: 1.2rem;
  }
}