.contact-form {
  width: 60%;
  margin: 0 auto;
  font-family: $default-text-font;
  animation: moveInBottom 1s ease-out;
  
  @media(max-width: $mobile-breakpoint) {
    width: 85%;
  }

  @media(max-width: $tablet-breakpoint) {
    width: 85%;
  }

  //Ipad Pro
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    width: 85%;
  }

  &__header {
    font-size: 1.6rem;
    font-weight: 600;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    
    & > * {
      flex: 0 0 48%;
    }
  }

  &__text {
    textarea {
      height: 13rem;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: .5rem;
  }

  &__input {
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    color: inherit;
    padding: .3rem 1.2rem;
    border-radius: 1px;
    border: none;
    background-color: rgba(#A8A4A4, .2);
    border: 1px solid black;
    display: block;
    transition: all .2s;
    margin: 0 auto;
    color: black;
    
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
      background-color: rgba(23, 161, 23, .3);

      &:invalid {
        background-color: rgba(#C49B66, .5);
      }
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 600;
    color: #C49B66;
    margin-top: 0.4rem;
    transition: all .3s;
  }
}