.contact-form {
  width: 40%;
  margin: 0 auto;
  font-family: $default-text-font;
  animation: moveInBottom 1s ease-out;

  &__info {
    display: flex;
    justify-content: space-between;
    
    & > * {
      flex: 0 0 48%;
    }
  }

  &__text {
    textarea {
      height: 25rem;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    width: 100%;
    font-size: 1.9rem;
    font-family: inherit;
    color: inherit;
    padding: .7rem 1.5rem;
    border-radius: 1px;
    border: none;
    background-color: lightgrey;
    border-bottom: 3px solid transparent;
    display: block;
    transition: all .2s;
    margin: 0 auto;
    color: black;
    
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.2);
      border-bottom: 3px solid rgb(23, 161, 23);

      &:invalid {
        border-bottom: 3px solid rgb(245, 161, 6);
      }
    }
  }

  &__label {
    font-size: 2rem;
    font-weight: 400;
    color: darken(white, 20%);
    margin-top: 0.4rem;
    transition: all .3s;
  }
}