.navbar {
  background-color: $header-color;
  color: white;
  font-size: 1.7rem;
  padding: 0 6rem 0 8rem;
  font-family: $default-text-font;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.2px;

  @media(max-width: $mobile-breakpoint) {
    padding: 0;
  }

  .nav-header {
    display: flex;
    align-items: center;
    width: 100%;

    @media(max-width: $mobile-breakpoint) {
      padding: 1rem 0;
      justify-content: center;
      height: calc(#{$header-height} + 1rem);
      
      .navbar-brand { 
        display: none;
      }
    }
  }

  .navbar-brand {
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 500; 
    color: #C49B66;
    padding: 1px;
    height: 25px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform:  rotateY(10deg) rotateX(15deg) rotateZ(2deg);
    transform: rotateY(10deg) rotateX(15deg) rotateZ(2deg);
  }

  .collapse.navbar-collapse {
    height: 100%;

    li {
      height: $header-height;
    }

    a.nav-link {
      height: 100%;
      padding: 0 2.3rem;
      display: flex;
      align-items: center;
      color: white;
      border-bottom: 2px solid transparent;
      transition: background-color .6s;

      &:hover {
        background-color: lighten($header-color, 20%);
        border-bottom: 2px solid #C49B66;
      }
    }
  }
 
  &-collapse.collapse.show,  &-collapse.collapsing  {
    
    ul {
      margin-top: 1.5rem;
    }
    a.nav-link{
      // padding: ;
      height: $header-height;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-bottom: 2px solid transparent;
    }
  }

  &-toggler, &-toggler:active, &-toggler:focus {
    border: transparent;
    outline:0;
  }
}

.checkbox {
  display: none;

  &__icon {
    position: relative;
    margin-top: 1.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 1px;
      background-color: grey;
      display: inline-block;
      transition: all .4s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0%;
    }

    &::before{
      top: -.6rem 
    }

    &::after{
      top: .6rem;
    }
  }

  &:checked + &__button &__icon{
    background-color: transparent;
  
    &::before{
      transform: rotate(135deg);        
      top:0;
    }

    &::after{
      transform: rotate(-135deg); 
      top:0;    
    }
  }
}