
.hero {
  height: 100%;

  &__heading {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    transition: all .6s;

    &:hover {
      -webkit-transform: translate(-50%, -50%) rotateY(10deg) rotateX(10deg) rotateZ(2deg);
      transform: translate(-50%, -50%) rotateY(10deg) rotateX(10deg) rotateZ(2deg);
    }
    
    h1 {
      font-size: 21px;
      font-weight: 500;
      &:nth-child(1) {
        font-weight: 400;
        letter-spacing: 0px;
        color: #C49B66;
        animation: moveInTop 2s ease-out forwards;
        line-height: 7rem;
        font-size: 9.5rem;

        @media(max-width: $mobile-breakpoint) {
          font-size: 6.2rem;
          font-weight: 500;
        }
      }

      &:nth-child(2) {
        visibility: hidden;
        animation: moveInBottom 2s 1s ease-out forwards;

        @media(max-width: $mobile-breakpoint) {
          font-size: 1.5rem;
        }
      }
    }

    @media(max-width: $tablet-breakpoint) {
      width: 100%;
    }
  }

  &__scroll {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 8%;
    left: 50%;
    visibility: hidden;
    text-align: center;
    animation: moveInChevron 1s 3.5s ease-out forwards;

    .chevron {
      width: 40px;
      height: 40px;
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transition: all 1s;
      transform: rotateZ(-45deg);

      &:hover {
        transform: translateY(-1rem)  rotateZ(-45deg);
        cursor: pointer;
      }
    }
  }
}



@keyframes floating {
  from {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateZ(0deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) rotateY(10deg) rotateX(10deg) rotateZ(2deg);
            transform: translate(-50%, -50%) rotateY(10deg) rotateX(10deg) rotateZ(2deg);
    text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotateY(-12deg) rotateZ(0deg);
            transform: translate(-50%, -50%) rotateY(-12deg) rotateZ(0deg);
    text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
  }
}

