.section-hero {
  position: relative;
  height: $section-height;
  width: 100%;
  background-image:   linear-gradient(rgba(black, .3), rgba(black, .3)), url(https://res.cloudinary.com/duwpl9hjf/image/upload/v1526914524/hero.jpg);
  background-size: cover;
  background-position: left;

  @media(max-width: $mobile-breakpoint) {
    max-height: calc(#{$section-height} - 1rem);
  }
}