.section-resume {
  position: relative;
  height: $section-height;
  width: 100%;
  padding: $header-height 0;  
  background-color: #6E6E6E;

  @media(max-width: $tablet-breakpoint) {
    min-height: calc(#{$section-height} - 1rem);
    height: auto;
  }

  //Ipad Portrait
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    min-height: $section-height;
  }

  //Ipad Pro
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    padding: 8rem 0 0 0;
    min-height: $section-height;
  }
}

