.section-resume {
  position: relative;
  height: $section-height;
  width: 100%;
  padding: $header-height 0;  
  background-color: #6E6E6E;

  @media(max-width: $tablet-breakpoint) {
    min-height: calc(#{$section-height} - 1rem);
    height: auto;
  }
}

