
.skill {
  &__card {
    flex: 1 0 auto;
    height: 10rem;
    line-height: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @for $i from 0 through 6 {
      $delay: .8s+$i * 0.4s;
      
      &:nth-child(#{$i}) {
       i {
         animation: opacity 1.5s $delay forwards;
       }
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      transition: all .8s;
      background-color: rgba(0,0,0,.2);
      opacity: 0;
      // border-radius: 2px;
    }

    &:hover::after {
      opacity: 1;
    }

    i {
      font-size: 4rem;
      transition: all .6s;
      opacity: 0;
    }

    .icon-bootstrap {
      font-size: 4rem;
      line-height: 1.3;
    }
    
    // &__icon:hover {
    //   transform: rotateX(20deg) rotateZ(10deg);  
    //   transform-origin: center;
    //  }
  }
}