.timeline {
  position: relative;
  margin: 1rem auto;
  width: 70%;
  font-family: $default-text-font;
  // animation: moveInBottom 1s ease-out;
  opacity: 0;

  @media(max-width: $tablet-breakpoint) {
    width: 100%;
  }

  @media(max-width: $mobile-breakpoint) {
    width: 84%;
    font-size: 1.5rem;
  }

  @for $i from 0 through 5 {
    $delay: 1s+(4-$i)* 0.4s;
    
    &:nth-child(#{$i}) {
        animation: opacity 1s $delay forwards;
    }
  }

  h3 {
    font-weight: 600;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: lighten(#C49B66, 0%);
    top: calc(10px + 1rem);    
    left: 50%;
    transform: translateX(-50%);

    @media(max-width: $mobile-breakpoint) {
      left: 100%; 
    }
  } 

  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 10px;
    bottom: 0;
    left: 50%;    
    transform: translateX(-50%);
    background-color: lightgrey;
    border: 2px solid  #C49B66;
    border-radius: 50%;
    border-radius: 50%;
    z-index: 2;

    @media(max-width: $mobile-breakpoint) {
      left: 100%; 
    }
  } 

  &__container {
      padding: 0 40px;
      position: relative;
      background-color: inherit;
      width: 50%;

      @media(max-width: $mobile-breakpoint) {
        width: 100%;
        padding: 0 10% 0 0%;
      }

      &--left {
        left: 0;
      }

      &--right {
        left: 50%;

        @media(max-width: $mobile-breakpoint) {
          left: 0%;
        }
      }

      &--left::before, &--right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 7.5px;
        width: 0;
        z-index: 1;
        border: medium solid $resume-content-color;
      }

      &--left::before {
        right: 30px;      
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $resume-content-color;

        @media(max-width: $mobile-breakpoint) {
          right: calc(10% - 10px);
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent $resume-content-color;
        }
      }
  
      &--right::before {
        left: 30px;
        border-width: 10px 10px 10px 0;
        border-color: transparent $resume-content-color transparent transparent;

        @media(max-width: $mobile-breakpoint) {
          left: 90%;      
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent $resume-content-color;
        }
      }
  }

  &__content {
    padding: 1.2rem 1.7rem;
    background-color: $resume-content-color;
    position: relative;
    border-radius: 2px;
    color: #C49B66;

    p {
      color: black;
      font-weight: 500;
    }
    // box-shadow: 0rem 1.5rem 4rem rgba(black, 0.2);
  }

  &:hover &__content {
    background-color:  lighten($resume-content-color, 5%);
  }

  &:hover &__container--left::before {
    border-color: transparent transparent transparent lighten($resume-content-color, 5%);
  }

  &:hover &__container--right::before {
    border-color: transparent lighten($resume-content-color, 0%) transparent transparent;

    @media(max-width: $mobile-breakpoint) {
      border-color: transparent transparent transparent lighten($resume-content-color, 5%);
    }
    
  }

  // &:hover::before {
  //   background-color: lighten($resume-content-color, 5%);
  // }
}
